@model FileServer.Models.AccessModel

@{
    ViewData["Title"] = "Редактирование";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Обновление данных</h2>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Update" asp-route-id="@Model.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <input asp-for="Id" hidden="hidden" />

                <div class="mb-3">
                    <label asp-for="UserModelId" class="form-label">Пользователь</label>
                    <select asp-for="UserModelId" class="form-select custom-select">
                        @foreach (var item in ViewBag.Employee)
                        {
                            <option value="@item.Id">@item.Login</option>
                        }
                    </select>
                    <span asp-validation-for="UserModelId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="FileModelId" class="form-label">Файл</label>
                    <select asp-for="FileModelId" class="form-select custom-select">
                        @foreach (var item in ViewBag.Files)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="FileModelId" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="AccessLevel" class="form-label">Уровень доступа</label>
                    <select asp-for="AccessLevel" class="form-select custom-select">
                        @foreach (var item in ViewBag.Radio)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="AccessLevel" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn custom-btn-success">Сохранить</button>
                    <a asp-action="Index" class="btn custom-btn-secondary">Назад</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

